* {
  box-sizing: border-box;
}

nav {
  background: #ddd;
}

nav > ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 10px;
  flex: 1 1 0;
  text-align: center;
}

nav > ul > li{
  position: relative;
}

nav > ul > li > ul {
  display: none;
  background: #999;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

nav > ul > li:hover > ul {
  display: block;
}
