* {
  box-sizing: border-box;
}

@keyframes menuIn {
  0% {
    top: 80%;
  }
  100%{
    top: 100%;
  }
}

nav {
  border-bottom: 1px solid orange;
}

nav > ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  padding: 10px;
  flex: 1 1 0;
  text-align: center;
}

li:hover{
  background: orange;
}

nav > ul > li{
  position: relative;
}

nav > ul > li > ul {
  display: none;
  background: black;
  color: white;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  animation: menuIn 0.25s;
}

nav.clicked > ul > li.open > ul {
  display: block;
}
